<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MusicTeacher.Properties.Settings.QuizDBConnectionString"
            connectionString="Data Source=|DataDirectory|\QuizDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>